@import "../../vars.css";

.Coding{
    /* height: 900px; */
    background-color: var(--color-bg);
    /* border: 2px solid red; */
    margin: 0 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
}